@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

/* Body, logo, menu */
body {
  padding: 20px 20px; 
  
}

#bodyColor{
 background-color:#181818;
}

#logo {
  color: #eee;
  padding: 8px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #555 3px 2px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 800;
}

#logo:after {
  left: 3px;
  top: 15px;
  content:"TechWords";
  color:  #eee;
  position: absolute;
}

#logo:after {
  display: block;
  background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #eee 25%, #555 50%, transparent 50%, transparent 75%,  #eee 75%);
  background-size: 3px 3px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -2;
  text-shadow: none;
  background-clip:text;
}

#menu {
    width:100%;
    height:20px;
    margin-top: 10px; 
    padding: 20px 20px;
    list-style: none; 
    border-top: 4px double #AAA;
    border-bottom: 4px double #AAA;
    position: relative;
    text-align: center;
  }

  /* if the size is 1212px of web page  */
  @media only screen and (max-width: 1212px) {
    #menu {
      display: flex;
      height: unset;
      list-style: none;
      margin-top: 0;
      padding:50px 0 20px;
      text-align: center;
      flex-direction: column;
      align-items: center;
  }
  }

  #menu li {
    margin: 10px 25px; 
    width: 173px;
    top:-28px;
    display: inline-block;
    position: relative;
    -webkit-transform: skewy(-3deg);
    -webkit-backface-visibility: hidden;
    -webkit-transition: 200ms all;
    transform:skewy(-3deg);
    backface-visibility: hidden;
    transition:200ms all;
  }
  #menu li a {
    padding: 2px 3px;
    background: #FFF;
    color: #181818;
    text-transform: uppercase;
    font-family: 'Squada One', cursive;
    font-weight: 800;
    display: block;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: 1;
    text-shadow: 
          1px 1px 0px #FFF, 
          2px 2px 0px #999,
          3px 3px 0px #FFF;
      background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.05) 100%);
      -webkit-transition: 1s all;
      transition: 1s all;
      background-image: -webkit-linear-gradient(left top, 
          transparent 0%, transparent 25%, 
          rgba(0,0,0,.15) 25%, rgba(0,0,0,.15) 50%, 
          transparent 50%, transparent 75%, 
          rgba(0,0,0,.15) 75%);
    background-size: 4px 4px;
      box-shadow: 
          0 0 0 1px rgba(0,0,0,.4) inset, 
          0 0 20px -5px rgba(0,0,0,.4),
          0 0 0px 3px #FFF inset;
  }
  #menu li:hover {
      width: 203px;
      margin: 0 -5px;
  }
  #menu a:hover {
    color:#800000;
  }
 
  #menu li:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    background: #BBB;
    -webkit-transform: skewY(8deg);
      border-radius: 4px;
      transform:skewY(8deg);
  }
  #menu li:after {
      background-image: -webkit-linear-gradient(left, transparent 0%, rgba(0,0,0,.4) 100%);
      right: 0;
      top: -4px; 
  }
  #menu li:before {
      left: 0;
      bottom: -4px;
      background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0,0,0,.4) 100%);
  }

/* Dictionary Block */
#status{
   position: relative;
   margin-top: 60px;
   padding :20px;
   background-color:#eee;
   color:#181818;
   border-radius: 2px;
  }
  
/* Tech Cards Page */
.card-block{
  background-color: #212121;
  margin-top: 60px;
  border-radius: 2px;
  color: #181818;
}

.container-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px 16px;
}

#cards-container {
  overflow: hidden;
  margin: 35px;
  margin-bottom: 37px;;
}

.cards {
  width: 99999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #eee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 235px;
  margin: 15px 7.5px;
}

.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.card .img {
  max-width: 220px;
  height: 220px;
  display: inline-block;
}

#slide-left-container,
#slide-right-container {
  display: none;
}

#slide-left-container.active,
#slide-right-container.active {
  display: block;
  cursor: pointer;
}

.slide-left,
.slide-right {
  border-color: #eee;
  border-style: solid;
  height: 20px;
  width: 20px;
  margin-top: 30%;
 
}

.slide-left {
  border-width: 4px 0 0 4px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: 22%;
}

.slide-right {
  border-width: 4px 4px 0 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 22%;
}


/* Random Words Page */
#block{
  margin-top: 60px;
  background: #212121;
  color: #eee; 
  width: 100%;
  padding:20px;
  padding-top: 35px;
  text-align: center;
  padding-bottom: 1px;
  border-radius: 2px;
  padding-bottom: 30px; 
  
}

h1 {
  text-align: center;
  margin: 5% 0 5% 0;
}

#word-box {
    color: #800000;
    background: #eee;
    border-color: #555;
    display: inline-block;
    margin-top: 35px; 
    margin-bottom: 50px;
    width:100%;
    height:70px;
    font-size: 35px;
    text-align: center;
    border-radius: 15px;
    margin-right: 15px;
    
}

#button {
    background: #800000;
    border: 8;
    color: #eee;
    font-size: 18px;
    padding:12px 20px;
    cursor: pointer;
    /* margin: 60px auto 60px; */
    text-align: center;
    border-radius: 10px;
    font-weight: bold;    
    display:block;

}

.word-form-box{
  display: flex;
  align-items: center;
  
}

/* List Block In The Random Words Page*/
.containerList {
    background-color: #212121f2;
    box-shadow: #800000;
    width: 100%;
    border: 1px #eee solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 10px;
}

#userinput{
  width: 40%;
  background: #eee;
  color: #800000;
  border-radius: 15px;
  border-color: #555;
  margin-top: 10px;
}

#enter{
  width: 80px;
  font-size: 15px;
  margin-bottom: 25px;
  cursor: pointer;
}

.delete{
  width: 80px;
  font-size: 15px;
  margin-bottom: 25px;
  cursor: pointer;
  margin-left: 50px; 
}


/* Book View Block For About, Contact and Privacy Policy Pages */
  * {
    box-sizing: border-box;
 
 }
 .book-box{
  padding-top: 50px;
 }

 .book-framework {
  background-color:  #212121;
  box-shadow:1px 1px 1px 0 rgba(0,0,0,0.12);
  box-sizing:border-box;
  padding-top: 35px;
  border-radius: 2px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    --page-bg: #eee;
    --baseline: 16px;   
    --dark-text: #181818;
    
 }

 .book_text{   

      text-align:center;
      font-size: 80px;
 }

 .cover {
   
   background-color:#555;
   width: calc(var(--baseline) * 60);
   height: calc(var(--baseline) * 42.6);
   padding: 0.9rem;
   border-radius: 6px;
 }
 
 .book {
  display: flex;
  perspective: 100rem;
  width: 100%;
  height: 100%;  
 }
 
 .book_page {
    position: absolute;
    height: 100%;
    width: 50%;
    padding: calc(var(--baseline) * 3);
    background-color: var(--page-bg);
 }

  .book_page2 {
    right: 0;
    position: absolute;
   
 }


/* Contact Form */
 #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { 
   font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; 
  }
 
 #contact {
   background: #181818;
   margin:70px 0;
   padding:25px;
   padding-top: 50px;
   padding-bottom: 50px;
   align-items: center;
   border-radius: 5px;
 }
 
 fieldset {
   border: medium none !important;
   padding: 0;
   margin: 0 0 10px;
   min-width: 100%;
   width: 100%;
 }
 
 #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  margin:5px 0 20px;
  padding:10px; 
  width:100%;
   border:5px solid #555;
   background:#eee;  
 }
 
 #contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  transition:border-color 0.3s ease-in-out;
  border:3px solid #AAA; 
  -webkit-transition:border-color 0.3s ease-in-out;
   -moz-transition:border-color 0.3s ease-in-out;
 }
 
 #contact textarea {
   height:100px;
   resize:none;
   max-width:100%;
 }
 
 #contact button[type="submit"] {
   cursor:pointer;
   margin:0 0 5px;
   padding:10px; 
   width:100%;
   background:#555;
   color:#eee;
   font-size:15px;
   border:none;
   border-radius: 5px;
 }
 
 #contact button[type="submit"]:hover {
   background:#800000;
   transition:background-color 0.3s ease-in-out;
   -webkit-transition:background 0.3s ease-in-out;
   -moz-transition:background 0.3s ease-in-out;
 }
 
 #contact button[type="submit"]:active {  
   box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
  }
 
 #contact input:focus, #contact textarea:focus {
   outline:0;
   border:3px solid #999;
 }
 ::-webkit-input-placeholder {
  color:#888;
 }
 :-moz-placeholder {
  color:#888;
 }
 ::-moz-placeholder {
  color:#888;
 }
 :-ms-input-placeholder {
  color:#888;
 }


 /* Card Block of Quizzes Page  */
#cards_landscape_wrap-2{
  margin-top: 60px;
  text-align: center;
  align-items: center;
  background: #212121;
  padding-bottom: 30px;  
  text-align:center;
}
#cards_landscape_wrap-2 .container{
  padding-top: 20px; 
  padding-bottom: 35px;
 
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
  align-items: center;
   
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 10px;
 
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #eee;
  overflow: hidden;
  box-shadow: 0px 2px 10px #800000;
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 265px;
  transition:all .9s ease;

}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 15px 15px;
 
}
#cards_landscape_wrap-2 .card-flyer{
  background: #eee;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 1px 5px 6px #555;
 
 
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #eee;
  box-shadow: 0px 10px 15px #800000;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 8px; 
    font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #800000;
  
}



/* Question block for quizzes pages */
#blockQuiz{
  margin-top: 60px;
  width: 100%;
  padding:20px;
  padding-top: 35px;
  background: #212121;
  color: #181818; 
  border-radius: 2px;
  align-items: center;
  text-align: center;
}
#containerQuiz{
	width:100%;
	background:#eee;
	margin:20px auto;
	padding:20px;
  border-radius: 15px;
}
#head{
  margin-top: 20px;
	text-align:center;
	border-bottom:#eee solid 2px;
}
#nextQuiz{
   float: right;

}
#beforeQuiz{
   float: left;

}

.question {
  padding: 1em;
  margin-bottom: 1em;
  background: #eee;
}
.quiz-msg {
  padding: 0.5em;
  margin-top: 1em;
}
.quiz-msg.correct {
  background: #eee;
}
.quiz-msg.incorrect {
  background: #eee;
}
.correct {
  color: green;
  padding: 0.2em;
}

.incorrect {
  color: red;
  padding: 0.2em;
}

/* Footer Bar */
.footer-bar{
  background-color:  #212121;
  border-radius: 2px;
  padding:35px;
  width:100%;
	box-shadow:1px 1px 1px 0 rgba(0,0,0,0.12);
	box-sizing:border-box;
  border-radius: 2px;
	text-align:left;
	font:'Open Sans' 15px sans-serif;
}
.footer-bar .footer-left p{
  margin:0;
  color:#eee;
	font-size:14px;
}
.footer-bar p.footer-links{
  margin:0 0 10px;
	padding:0;
  font-size:16px;
	font-weight:700;
	color:#eee;
}
.footer-bar p.footer-links a{
	display:inline-block;
	line-height:1.8;
	text-decoration:none;
	color:#eee;
}
.footer-bar .footer-right{
  margin-top:6px;
	max-width:180px;
  float:right;	 
}
.footer-bar .footer-right a{
  margin-left:15px;
  background-color:#555;
	border-radius:4px;
	display:inline-block;
	width:35px;
	height:35px;
	font-size:18px;
	color:#eee;
	text-align:center;
	line-height:35px;
}

/* if the size is 500px of web page, footer is like... */
@media (max-width: 500px) {
.footer-bar .footer-left,.footer-bar .footer-right{
	text-align:center;
}
.footer-bar .footer-right{
	float:none;
	margin:0 auto 20px;
}
.footer-bar .footer-left p.footer-links{
	line-height:1.8;
}
}
